{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame_shop.twig' %}

{% set body_class = 'product_page' %}


{% block javascript %}
    <script>
        // 並び順を変更
        function fnChangeOrderBy(orderby) {
            eccube.setValue('orderby', orderby);
            eccube.setValue('pageno', 1);
            eccube.submitForm();
        }

        // 表示件数を変更
        function fnChangeDispNumber(dispNumber) {
            eccube.setValue('disp_number', dispNumber);
            eccube.setValue('pageno', 1);
            eccube.submitForm();
        }
        // 商品表示BOXの高さを揃える
        $(window).load(function() {
            $('.product_item').matchHeight();
        });
    </script>
{% endblock %}

{% block main %}
    <form name="form1" id="form1" method="get" action="?">
        {{ form_widget(search_form) }}
    </form>
    <!-- ▼topicpath▼ -->

    <div class="page_sTit2 garamond">
        <ol id="list_header_menu">
           
            {% if Category is not null %}
                {% for Path in Category.path %}
                    <li><a href="{{ url('product_list') }}?category_id={{ Path.id }}">{{ Path.name }}</a></li>
                {% endfor %}
            {% endif %}
            {% if search_form.vars.value.name %}
            <li>「{{ search_form.vars.value.name }}」の検索結果</li>
            {% endif %}
        </ol>
    </div>
    <!-- ▲topicpath▲ -->
    <div class="selBox1">
        <form name="page_navi_top" id="page_navi_top" action="?">


                        {{ form_widget(order_by_form, {'id': '', 'attr': {'onchange': "javascript:fnChangeOrderBy(this.value);"}}) }}

            {% for f in disp_number_form.getIterator %}
                {% if f.vars.name matches '[^plg*]' %}
                    {{ form_label(f) }}
                    {{ form_widget(f) }}
                    {{ form_errors(f) }}
                {% endif %}
            {% endfor %}

            {% for f in order_by_form.getIterator %}
                {% if f.vars.name matches '[^plg*]' %}
                    {{ form_label(f) }}
                    {{ form_widget(f) }}
                    {{ form_errors(f) }}
                {% endif %}
            {% endfor %}


        </form>
    </div>

    <!-- ▼item_list▼ -->
            <ul class ="goods_cont1 alpha">
                {% for Product in pagination %}
                
                    <li>
                        <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}">

<span  class="productNameThumb">
{{ Product.name }}
</span>
<br />
                                {% if Product.description_list %}
                                    
                                    {{ Product.description_list|raw|nl2br }}
                                {% endif %}
                                {% if Product.hasProductClass %}
                                    <br />
                                    {% if Product.getPrice02Min == Product.getPrice02Max %}
                                        {{ Product.getPrice02IncTaxMin|price }}
                         
                                    {% else %}
                         
                                        {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                         
                                    {% endif %}
                                {% else %}
                               {{ Product.getPrice02IncTaxMin|price }}
                                {% endif %}
                        </a>
                    </li>
            {% endfor %}
            </ul>
      <!-- ▲item_list▲ -->
    {% if pagination.totalItemCount > 0 %}
        {% include "pagination.twig" with { 'pages' : pagination.paginationData } %}
    {% endif %}

{% endblock %}