{% extends 'default_frame.twig' %}

{% block main %}

<div class="pageInner newsList">
   <div class="pageTit garamond">
      <h2>NEWS</h2>
    </div><!--pageTit-->

{% if newslist %}
<div>
{% for news in newslist %}
 <div class="news_date garamond">
        <p class="news_date_y">{{news.year}}</p>
        <p class="news_date_d">{{news.date}}</p>
</div>
<div class="newsCont">
<p><a href="./news?id={{news.id}}">{{news.title.rendered}}</a></p>
</div>
{% endfor %}
</div>
{% endif %}

{% if pagenow != 1 %}
<p class="garamond"><a href="./newslist?page={{pagenow-1}}">NEXT</a></p>
{% endif %}

{% if isnextlist  == 0 %}
{% else %}
<p class="garamond"><a href="./newslist?page={{pagenow+1}}">PREV</a></p>
{% endif %}

</div>
{% endblock %}