{% extends 'default_frame.twig' %}

{% block main %}

<section class="top">
  <div class="wrapper pageCont">
    <div class="pageTit garamond">
      <h2>PRESS</h2>
    </div><!--pageTit-->
    <div class="pageInner">
    <ul class="press_list clearfix">
      <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press151127.png" alt="">
        <p>MORE 1月号(11/28発売) 掲載</p>
      </li>
       <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_02.png" alt="">
        <p>ViVi 6月号(4/23発売) 掲載</p>
      </li>
       <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_03.png" alt="">
        <p>SEDA 5月号(4/7発売) 掲載</p>
      </li>
      <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_04.png" alt="">
        <p>SEDA 2月号(1/7発売) 掲載</p>
      </li>
       <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_05.png" alt="">
        <p>ar 12月号(11/12発売) 掲載</p>
      </li>
      <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_06.png" alt="">
        <p>SEDA 12月号(11/7発売) 掲載</p>
      </li>
      <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_07.png" alt="">
        <p>SEDA［セダ］ 10月号(9/5発売) 掲載</p>
      </li>
      <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_08.png" alt="">
        <p>mer 9月号(7/17発売) 掲載</p>
      </li>
      <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_09.png" alt="">
        <p>CanCam 7月号(5/23発売) 掲載</p>
      </li>
      <li>
        <img src="{{ app.config.front_urlpath }}/img/common/press_10.png" alt="">
        <p>Gina 6月号(5/7発売) 掲載</p>
      </li>
    </ul>
    
    
    </div><!--inner-->
  </div><!--wrapper-->
  <div class="wrapper">
    <div class="top_cont01 top_cont01--page">
      <a class="garamond" href="{{app.config.root}}user_data/shop">ONLINE SHOP</a>
    </div><!--cont01-->
  </div>
</section>


{% endblock %}