<div class="mainSlide">
  <ul class="bxslider01">
{% for img in topimg %}
    <!--<li><img src="{{app.config.user_data_urlpath}}/topimgdir/{{img}}" width="720" height="415" alt="slide01"></li>-->
<li><img src="{{app.config.user_data_urlpath}}/topimgdir/1.jpg" width="720" height="415" alt="slide01"></li>
<li><a href="{{app.config.root}}user_data/birthstone?month=3"><img src="{{app.config.user_data_urlpath}}/topimgdir/2.jpg" width="720" height="415" alt="slide02"></a></li>
{% endfor %}
  </ul>
  </div>
  <!--// メインスライダー End-->
  <!--サムネイル（ページャー）用スライダー Start-->
  <div class="controlWrap">
    <ul id="bx-pager" class="bxslider02">
{% for key, img in topimg %}
      <li><a data-slide-index="{{key}}" href=""><img src="{{app.config.user_data_urlpath}}/topimgdir/{{img}}" width="142" height="82" alt="slide01"></a></li>
{% endfor %}
    </ul>
  <p id="PrevIcon"></p>
  <p id="NextIcon"></p>
  </div>
  <!--サムネイル（ページャー）用スライダー End-->